

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Add Tipo</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>

    <div class="card border-secondary"> 
    	<div class="card-header">
			Add tipom
		</div>
        <div class="card-body">
            <form action="/tipom/add" method="post">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" name="nombretipo" value="<%= nombretipo %>"autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Caracteristica:</label>
                    <input type="text" class="form-control" name="caracteristica" value="<%= caracteristica %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add"/>
                </div>
            </form>
        </div>
    </div>

</body>
</html>